
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class="container" style="text-align: center;">
    <div class="col-10 mx-auto py-5 text-center"> 
      <h1 class="display-2">
          welcome home again soon see u
      </h1>
    </div>
    <div style="display: flex;flex-direction: row;">
            <div style="width: 50%;margin-right: 5px;">
              <a href="users/signin" style="text-decoration: none;"><button class="btn btn-outline-primary btn-block">login</button></a>             
            </div>

            <div style="width: 50%;margin-left: 5px;">
              <a href="users/signup" style="text-decoration: none;"><button class="btn btn-outline-primary btn-block">signup</button>
            </div>
       </a>  
    </div>

    </div>

  </div>
</body>
</html>