<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container py-5" style="border: 1px solid grey;box-sizing: border-box;">
        <div  class="row" style="justify-content: space-between;display: flex;flex-direction: row;">

            <div class="row" style="width: 100%;background-color:grey;box-sizing: border-box;margin: 20px 0 0 10px; color: white; ">
                <div class="col-10 mx-auto text-center">
                    <h2> welcome to the signup page</h2>

                </div>
            </div> 


            <div class="col-6 " style="width: 50%;">
 
                    <img src="/images/1.jpg" style="width: 100%;height:100% ;" alt="lockdown">

            </div>
            <div class="col-6 py-5" style="width: 50%;height: 100%;">
                <form method="POST" action="/users/signup">
                    <div class="form-group">
                         <label>email</label>
                         <input type="email" class="form-control" name="email" placeholder="eg:nunu@gmail.com.."  required>



                    </div>
                    <div class="form-group">
                        <label>password</label>
                        <input type="password" class="form-control"  name="password" required/>
                        


                   </div>
                   <span><button class="btn btn-primary btn-sm">submit</button></span>


                </form>

            </div>
        </div>

    </div>
</body>
</html>