<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container py-5">
        <div  class="row" style="justify-content:space-between;border: 1px solid grey;">

            <div class="row" style="width: 100%;margin: 40px;">
                <div class="col-10 mx-auto text-center">
                    <h2> welcome to the login page</h2>

                </div>
            </div>


            <div class="col-6" style="float: right;box-sizing: border-box;">
                         <img src='/images/1.jpg' style="width: 100%;height:50% ;"/>
            </div>
            <div class="col-6" style="box-sizing: border-box;">
                <form action="/users/signin" method="POST">
                    <div class="form-group">
                         <label>email</label>
                         <input type="email" class="form-control"  placeholder="eg:aubin.."  name="email"  required>



                    </div>
                    <div class="form-group">
                        <label>password</label>
                        <input type="password" class="form-control" name="password" required/>
                        


                   </div>
                   <button class="btn btn-primary btn-sm">submit</button>

                </form>

            </div>
        </div>

    </div>
</body>
</html>